{% extends 'index.html' %}

{% block content %}
<form id="frm1" action="/app/categories/store/" method="post">
    name:<input type="text" name="name">
    <br>
    <input type="hidden" name="id" value="0">
    <input type="submit">
</form>
<table id="tbl1" border="1">

</table>
    
{% endblock %}
{% block scripts %}
    <script>
        function getCategory(){
            $.ajax({
                url:"/app/categories/get/all/",
                metjod:"post",
                dataType:"json",
                success:function(result){
                    $("#tbl1").empty()
                    let categories = result.categories
                    $("#tbl1").append(`<tr>
                <th>id</th>
                <th>name</th>
                <th>delete</th>
                <th>edit</th>
                </tr>`)
                    for (let category of categories)
                    $("#tbl1").append(`<tr>
                <td>${category.id}</td>
                <td>${category.name}</td>
                <td><a class="del" href="/app/categories/delete/${category.id}/">delete</a></td>
                <td><a class="edit" href="/app/categories/edit/${category.id}/">edit</a></td>
                </tr>`)
                }
            })
        }
        getCategory()
        $("#frm1").submit(function(event){
            event.preventDefault()
            $.ajax({
                url:$("#frm1").attr("action"),
                method:$("#frm1").attr("method"),
                dataType:"json",
                data:$("#frm1").serialize(),
                success:function(result){
                    if(result.message == "saved"){
                        getCategory()
                    }else{
                        alert("error")
                    }
                }
            })
        })
        $("#tbl1").on("click",".del",function(){
            let url=$(this).attr("href")
            $.ajax({
                url:url,
                method:"get",
                dataType:"json",
                success:function(result){
                    if(result.message == "succeed"){
                        getCategory()
                    }else{
                        alert("category is already in use")
                    }
                }
            })
            return false
        })
        $("#tbl1").on("click",".edit",function(result){
            let url=$(this).attr("href")
            $.ajax({
                url:url,
                method:"post",
                success:function(result){
                    $("input[name=name]").val(result.name)
                    $("input[name=id]").val(result.id)
                    getCategory()
                }
            })
            return false
        })
    </script>
{% endblock %}